@media screen and (min-width: 350px) and (max-width: 902px) {
.quadro{
   flex-direction: column;
   left: 10%;
   top: 13%;
}
.Quadro{
    height: 111px;
    width: 124px;
}
.sub1{
    position: absolute;
    
}
.insid1{
    display: flex;
    position: relative;
    left: 58%;
    top: 150px;
    z-index: 1;
}
.sub2{
    position: absolute;
}
.insid2{
    display: flex;
    position: relative;
    left:60%;
    top: 276px;

}
.sub3{
position: absolute;
}
.insid3{
    display: flex;
    position: relative;
    left:90%;
    top:422px;
    
}
.quest_top{
    font-size: 2rem;
    position: relative;
    left: 20%;
    top: 20px;
    
}
.sub4{
    position: absolute;
}
.insid4{
    position: absolute;
    left: 20px;
    top: 565px;
    

}
}